@charset "UTF-8";

*{
   font-family: Arial, Helvetica, sans-serif;
   /*height: 100%; */
}

body{
    background-image: linear-gradient(to bottom, #0A7373, #010221);
    background-attachment: fixed;
}

h1{
  color: #EDAA25;  
  text-align: center;
  text-shadow: 1px 1px 2px #956a13b8;
}

h2{
    color: #0A7373;
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(14, 45, 45, 0.663);
}

p{
    text-align: justify;
}